@using Datos
@model Datos.DTO.Infraestructura.ViewModels.ValidacionConstanciaViewModel
@{
    ViewBag.Title = "Validación";
    Layout = "~/Views/Shared/Layouts/_LayoutSolicitudWeb.cshtml";
}

@if (string.IsNullOrEmpty(Model.Oficio))
{
    <div class="row">
        <div class="col-xs-12">
            <div class="middle-box animated fadeInDown" style="width: 450px">
                <div id="caja" class="container-fluid box">
                    <div class="col-xs-12 p-lateral-0 text-center">
                        <h2>VALIDACIÓN DE CONSTANCIA</h2>
                        <hr/>
                        <p>Para validarla por favor ingrese el número de oficio de la constancia.</p>
                        @using (Html.BeginForm("Constancia", "Validacion", new { }, FormMethod.Post, new { @class = "form-horizontal text-left" }))
                        {
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Oficio"><strong class="obligatorio">*</strong>Oficio</label>
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(c => c.Oficio, new { @class = "form-control input-sm uppercase" })
                                        @Html.ValidationMessageFor(c => c.Oficio, null, new { @class = "label label-warning" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <hr />
                            </div>

                            <div id='recaptcha' class="g-recaptcha"
                                 data-sitekey="@(System.Configuration.ConfigurationManager.AppSettings["CaptchaSitioKey"])"
                                 data-callback="onSubmit"
                                 data-size="invisible"></div>
                            <input type="submit" class="btn btn-primary block full-width m-b" id="btnBuscar"
                                    value="Buscar" />
                        }
                        <small>Todos los campos marcados con <strong class="obligatorio">*</strong> son obligatorios.</small>
                        <br />
                        <a href="@Url.Action("Index", "SolicitudWeb")">Regresar al menú</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (Model.Carta == null || Model.Carta.Estado == EstadosCarta.NoFirmada)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="middle-box animated fadeInDown">
                <div id="caja" class="container-fluid" style="width: 450px">
                    <div class="col-xs-12 p-lateral-0 text-center">
                        <h2>SIN REGISTROS DE LA CONSTANCIA CON EL OFICIO: @{@Model.Oficio.ToUpper()}</h2>
                        <p>Para más información comuníquese al teléfono 217-21-68 y/o 213-63-07 extensión 1307 o al correo electrónico constancias@sonora.gob.mx</p>
                        <a href="@Url.Action("Constancia")">Buscar de nuevo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="text-center" style="height: 100%">
        <h3>Oficio: @Model.Carta.NumeroExpediente</h3>

        <a href="@Url.Action("Carta", "Descargar", new {idCarta = Model.Carta.IDCarta})">DESCARGAR CONSTANCIA</a>
        |
        <a target="_blank" href="https://docs.google.com/viewer?embedded=true&url=@(Model.UrlDescargarCarta + "?idCarta=" + Model.Carta.IDCarta)">
            IMPRIMIR CONSTANCIA
        </a>
        |
        <a href="@Url.Action("Constancia")">REGRESAR</a>

        <iframe id="ifCarta"
                src="https://docs.google.com/viewer?embedded=true&url=@(Model.UrlDescargarCarta + "?idCarta=" + Model.Carta.IDCarta)"
                style="width: 100%; height: 100%; margin-top: 10px; padding-bottom: 50px" frameborder="0"></iframe>
    </div>
}

@section FooterScripts
{
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script type="text/javascript">
        var onSubmit = function (token) {
            $('form').submit();
        };

        $(function () {

            $('#btnBuscar').click(function (e) {
                e.preventDefault();

                if ($('form').valid() === true) {
                    grecaptcha.execute();
                }
            });

            $(window).resize(function () {
                $('#caja').css("margin-top", altura.alturaVentana);
            });

            $(window).resize();
        });

        var altura = (function () {
            var alturaVentana = $(window).height() / 2;
            var alturaCaja = $("#caja").height() / 2;
            return {
                alturaVentana: alturaVentana - alturaCaja - 120
            };
        })();
    </script>
}
