@model Datos.DTO.Infraestructura.ViewModels.InicioViewModal

@{
    ViewBag.Title = Resources.General.Inicio;
}

<div class="col-xs-12 p-all-0">
    <div class="ibox float-e-margins bx-s">
        <div class="ibox-content bg-f">
            <div class="row around-xs ">
                <div class="col-sm-6">
                    <div class="ibox-title  center-xs bg-f">
                        <h3>PRESENCIAL</h3>
                    </div>
                    <div class="col-xs-12">
                        <div class="row around-xs">
                            <div class="col-sm-6 p-l-0">
                                <a href="@Url.Action("Index", "Validar", new {Area = "Solicitud", estado = "p"})">
                                    <div class="widget navy-bg p-lg text-center  p-all-5">
                                        <div class="m-b-md">
                                            <i class="fa fa-file-powerpoint-o fa-4x"></i>
                                            <h1 class="m-xs">@Model.PendientesPresencial</h1>
                                            <h3 class="font-bold no-margins">
                                                Solicitudes
                                            </h3>
                                            <small>Pendientes</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-6 p-r-0">
                                <a href="@Url.Action("Index", "Validar", new {Area = "Solicitud", estado = "a"})">
                                    <div class="widget red-bg p-lg text-center  p-all-5">
                                        <div class="m-b-md">
                                            <i class="fa fa-file-powerpoint-o fa-4x"></i>
                                            <h1 class="m-xs">@Model.AtrasadasPresencial</h1>
                                            <h3 class="font-bold no-margins">
                                                Solicitudes
                                            </h3>
                                            <small>Atrasadas</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="row center-xs">
                            <a href="@Url.Action("Index", "Buscar", new {Area = "Solicitud", p = "w"})" class="col-xs-12">
                                <div class="widget bg-info text-center bg-i">
                                    <div class="p-m">
                                        <h1 class="m-xs">@Model.MesActualPresencial</h1>

                                        <h3 class="font-bold no-margins">
                                            @(DateTime.Now.ToString("MMMM").ToUpper())
                                        </h3>
                                        <small>Solicitudes realizas en el mes.</small>
                                    </div>
                                </div>
                            </a>
                            <a href="@Url.Action("Index", "Buscar", new {Area = "Carta"})">
                                <div class="widget yellow-bg p-lg text-center">
                                    <div class="m-b-md">
                                        <i class="fa fa-certificate f-z"></i>
                                        <h3 class="font-bold no-margins">
                                            @Model.FirmarPresencial
                                        </h3>
                                        <strong>Por Firmar</strong>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="ibox-title center-xs bg-f">
                        <h3>WEB</h3>
                    </div>
                    <div class="col-xs-12">
                        <div class="row around-xs">
                            <div class="col-sm-6 p-l-0">
                                <a href="@Url.Action("Index", "Validar", new { Area = "Solicitud", p = "w", estado = "p" })">
                                <div class="widget navy-bg p-lg text-center p-all-5">
                                    <div class="m-b-md">
                                        <i class="fa fa-file-powerpoint-o fa-4x"></i>
                                        <h1 class="m-xs">@Model.PendientesWeb</h1>
                                        <h3 class="font-bold no-margins">
                                            Solicitudes
                                        </h3>
                                        <small>Pendientes</small>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-sm-6 p-r-0">
                                <a href="@Url.Action("Index", "Validar", new { Area = "Solicitud", p = "w", estado = "a" })">
                                    <div class="widget red-bg p-lg text-center  p-all-5">
                                        <div class="m-b-md">
                                            <i class="fa fa-file-powerpoint-o fa-4x"></i>
                                            <h1 class="m-xs">@Model.AtrasadasWeb</h1>
                                            <h3 class="font-bold no-margins">
                                                Solicitudes
                                            </h3>
                                            <small>Atrasadas</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="row center-xs">
                            <a href="@Url.Action("Index", "Buscar", new {Area = "Solicitud", p = "w"})" class="col-xs-12">
                                <div class="widget navy-bg text-center bg-i">
                                    <div class="p-m">
                                        <h1 class="m-xs">@Model.MesActualWeb</h1>

                                        <h3 class="font-bold no-margins">
                                            @(DateTime.Now.ToString("MMMM").ToUpper())
                                        </h3>
                                        <small>Solicitudes realizas en el mes.</small>
                                    </div>
                                </div>
                            </a>
                            <a href="@Url.Action("Index", "Buscar", new {Area = "Carta"})">
                                <div class="widget yellow-bg p-lg text-center">
                                    <div class="m-b-md">
                                        <i class="fa fa-certificate f-z"></i>

                                        <h3 class="font-bold no-margins">
                                            @Model.FirmarWeb
                                        </h3>
                                        <strong>Por Firmar</strong>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
