@model Datos.Menu

@{
    ViewBag.Title = Resources.General.GuardarMenu;
}

@section HeaderScripts
{
    <link rel="stylesheet" href="~/Content/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
    <link rel="stylesheet" href="~/Content/css/plugins/iCheck/custom.css" />
}

<div class="tarjeta">
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-4 text-right">
                    @Html.LabelFor(m => m.Opcion)
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Opcion, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.Opcion, null, new { @class = "label label-warning" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4 text-right">
                    @Html.LabelFor(m => m.Controlador)
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Controlador, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.Controlador, null, new { @class = "label label-warning" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4 text-right">
                    @Html.LabelFor(m => m.Accion)
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Accion, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.Accion, null, new { @class = "label label-warning" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4 text-right">
                    @Html.LabelFor(m => m.Area)
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Area, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.Area, null, new { @class = "label label-warning" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4 text-right">
                    @Html.LabelFor(m => m.Destino)
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Destino, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.Destino, null, new { @class = "label label-warning" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4 text-right">
                    @Html.LabelFor(m => m.Visible)
                </div>
                <div class="col-md-4">
                    <div class="i-checks">
                        <label class="">
                            <div class="icheckbox_square-green" style="position: relative;">
                                @Html.CheckBoxFor(m => m.Visible, new { @class = "form-control input-sm" })
                                <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                            </div>
                            <i></i>
                        </label>
                    </div>
                </div>
            </div>
            <div id="divIcono" class="form-group">
                <div class="col-md-4 text-right">
                    @Html.LabelFor(m => m.IconoCss)
                </div>
                <div class="col-md-4">
                    <i id="icono"></i>
                    @Html.HiddenFor(m => m.IconoCss, new { @class = "form-control input-sm" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4 col-md-offset-4">
                    <div class="pull-right">
                        @Html.ActionLink(Resources.General.Regresar, "Index", "Menu", new { @class = "btn btn-default" })
                        <input type="submit" value="@Resources.General.Guardar" class="btn btn-primary" />
                    </div>
                </div>

            </div>
        </div>
    }
</div>

@Html.Partial("Menu/IconosMenu");

@section FooterScripts
{
    <script type="text/javascript" src="~/scripts/plugins/iCheck/icheck.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var mdlIcono = $("#mdlIconos");
            var destinoArea = "/{Area}/{Controlador}/{Accion}";
            var destinoControlador = "/{Controlador}/{Accion}";
            var destinoAccion = "/{Accion}";

            var $controlador = $("#@Html.IdFor(m => m.Controlador)");
            var $accion = $("#@Html.IdFor(m => m.Accion)");
            var $area = $("#@Html.IdFor(m => m.Area)");
            var $destino = $("#@Html.IdFor(m => m.Destino)");
            var $icono = $("#@Html.IdFor(m => m.IconoCss)");
            var icono = $("#icono");

            $("#divIcono").hide();
            cargarIconoMenu($icono.val());

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $controlador.change(function() {
                escribirDestino($area.val(), $controlador.val(), $accion.val());
            });

            $controlador.keyup(function () {
                escribirDestino($area.val(), $controlador.val(), $accion.val());
            });

            $accion.change(function () {
                escribirDestino($area.val(), $controlador.val(), $accion.val());
            });

            $accion.keyup(function () {
                escribirDestino($area.val(), $controlador.val(), $accion.val());
            });

            $area.change(function () {
                escribirDestino($area.val(), $controlador.val(), $accion.val());
            });

            $area.keyup(function () {
                escribirDestino($area.val(), $controlador.val(), $accion.val());
            });

            function escribirDestino(area, controlador, accion) {
                if (area) {
                    $destino.val(destinoArea.format({
                        Area: area,
                        Controlador: controlador,
                        Accion: accion
                    }));
                } else if (controlador) {
                    $destino.val(destinoControlador.format({
                        Controlador: controlador,
                        Accion: accion
                    }));
                } else if(accion) {
                    $destino.val(destinoAccion.format({
                        Accion: accion,
                    }));
                }
            }

            $destino.change(function () {
                verificarEsRaiz();
            });

            $destino.focusout(function () {
                verificarEsRaiz();
            });

            function verificarEsRaiz() {
                var id = ObtenerParametro("idMenuPadre");
                $.ajax({
                    url: '@Url.Action("ComprobarMenuPadre", "Menu", new { area = string.Empty })',
                    data: "{idPadre:'" + id + "'}",
                    type: 'POST',
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (data) {
                        if (data) {
                            if ($destino.val() != "")
                                mdlIcono.modal();
                        } else {
                            $("#divIcono").hide("toggle");
                            $icono.val("");
                        }
                    },
                    error: function () {
                        mostrarAlert('OCURRIO UN ERROR AL INTENTAR COMPROBAR EL MENÚ PADRE , VUELVA A INTENTARLO O RECARGUE LA PÁGINA.', 'danger');
                    }
                });
            }

            icono.click(function () {
                mdlIcono.modal();
            });

            $(".infont a").click(function (e) {
                var claseIcono = $(this).find("i").attr("class");

                mdlIcono.modal('hide');
                cargarIconoMenu(claseIcono);
                e.preventDefault();
            });

            function cargarIconoMenu(claseIcono) {
                if (claseIcono != "") {
                    icono.removeClass();
                    icono.addClass("f-s-50 fa " + claseIcono);
                    $icono.val(claseIcono);

                    $("#divIcono").show("toggle");
                }
            }
        });

    </script>
}