@using Datos.Recursos
@model Datos.Usuario

    @{
        ViewBag.Title = General.SolicitarContrasena;
        Layout = "~/Views/Shared/Layouts/_LayoutLogin.cshtml";
    }

    <div>
        @using (Html.BeginForm())
        {
            <div class="middle-box animated fadeInDown box-style">
                <div id="caja" class="container-fluid">
                    <div class="col-md-12 p-lateral-0">
                        <div class="text-center">
                            <h3>@General.SolicitarContrasena</h3>
                        </div>
                        @Html.Partial("Controls/_Alerta")
                        <div class="form-group">
                            @Html.LabelFor(u => u.Email)
                            @Html.TextBoxFor(u => u.Email, new { @class = "form-control input-sm", @Type = "email" })
                            @Html.ValidationMessageFor(u => u.Email, null, new { @class = "label label-warning" })
                        </div>

                        <input type="submit" class="btn btn-primary block full-width m-b" value="@General.Solicitar" />

                        <div class="text-center">
                            <div class="col-md-12">
                                @Html.ActionLink(General.InicioSesion, @"Index")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @section FooterScripts
    {
        <script type="text/javascript">
            $(function () {
                $(window).resize(function () {
                    $('#caja').css("margin-top", altura.alturaVentana);
                });

                $(window).resize();
            });

            var altura = (function () {
                var alturaVentana = $(window).height() / 2;
                var alturaCaja = $("#caja").height() / 2;
                return {
                    alturaVentana: alturaVentana - alturaCaja - 30
                };
            })();
        </script>
    }

