@using Datos.Recursos
@using Presentacion.Helpers
@using Sistema
@{
    ViewBag.Title = "Validar Solicitudes";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}
@model Datos.DTO.Infraestructura.ViewModels.SolicitudViewModel
@using (Html.BeginForm())
{
    <div class="ibox bx-s">
        <div class="ibox-title bg-f">
            <h3>Solicitudes Pendientes</h3>
        </div>

        <div class="col-md-6">
            <div class="col-md-12 form-horizontal">
                <div class="form-group">
                    <div class="col-md-2 col-xs-12">
                        <label>Estado:</label>
                    </div>
                    <div class="col-md-9 col-xs-12">
                        <input data-val="true" @(Model.Pendientes == true ? "checked" : string.Empty)
                               id="Pendientes" name="Pendientes" type="checkbox" value="true">
                        @Html.LabelFor(m => m.Pendientes)
                        <br/>
                        <input data-val="true" @(Model.Atrasadas == true ? "checked" : string.Empty)
                               id="Atrasadas" name="Atrasadas" type="checkbox" value="true">
                        @Html.LabelFor(m => m.Atrasadas)
                    </div>
                    <div class="col-xs-12 m-t-10">
                        <div class="pull-right">
                            <input type="submit" class="btn btn-sm btn-primary" value="@General.Buscar" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ibox-content p-l-20 p-r-10 bg-f br-c">
            <div class="row ">
                <div class="col-xs-12 ">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped " id="tblBusqueda1">
                            <thead>
                                <tr class="center-xs">
                                    <th>Fecha</th>
                                    <th>Folio</th>
                                    <th>RFC</th>
                                    <th>Solicitante</th>
                                    <th>Tipo</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var solicitud in Model.Solicitudes)
                                {
                                    <tr>
                                        <td>@solicitud.FechaSolicitud</td>
                                        <td>@solicitud.FolioPago</td>
                                        <td>@solicitud.Persona.RFC</td>
                                        <td>
                                            @solicitud.Persona.ApellidoP
                                            @solicitud.Persona.ApellidoM
                                            @solicitud.Persona.Nombre

                                        </td>
                                        <td>@Listas.ObtenerValorDeLista(Listas.ObtenerListaTipoSolicitud(), @solicitud.Tipo)</td>
                                        <td class="text-center">
                                            @Html.ActionLinkCifrado(General.Modificar, "Index", "Registro", "Solicitud",
                                                "btn btn-warning btn-circle", "fa fa-pencil",
                                                new Dictionary<string, int> { { "idSolicitud", solicitud.IDSolicitud } })

                                            @Html.ActionLinkCifrado(General.Detalles, "DatosPersona", "Validar", "Solicitud", "btn btn-info btn-circle", "fa fa-check",
                                                new Dictionary<string, int> {{"idSolicitud", solicitud.IDSolicitud}})

                                            @if (!solicitud.Cancelada)
                                            {
                                                <a class="btn btn-danger btn-circle cancelar" href="#" title="Cancelar" data-idSolicitud="@solicitud.IDSolicitud">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div>
                        @Html.Partial("_Paginacion", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Modales
{

<div class="modal inmodal fade" id="myModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Documento de Identificación</h4>
            </div>
            <div class="modal-body text-center center-block">
                <img id="img_doc1" src="~/Content/img/solicitudes/docs/no-document.png" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
    <div class="modal inmodal fade" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Papeleta de Pago</h4>
                </div>
                <div class="modal-body text-center center-block">
                    <img id="img_doc2" src="~/Content/img/solicitudes/docs/no-document.png"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal fade" id="modalCancelacion" tabindex="-1" role="dialog" aria-hidden="true">
        @using (Html.BeginForm("CancelarSolicitud", "Validar"))
        {
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                            <span class="sr-only">Cerrar</span></button>
                        <h4 class="modal-title">Cancelar solicitud</h4>
                    </div>
                    <div class="modal-body text-center center-block">
                        <h3>Motivo</h3>
                        @Html.TextArea("motivoCancelacion", new {rows = 7, cols = 70})
                        @Html.Hidden("idSolicitud")
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-danger">Cancelar</button>
                    </div>
                </div>
            </div>
        }
    </div>
}

@section FooterScripts
{
    <script type="text/javascript" src="/Scripts/jquery.tablesorter.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tblBusqueda1").tablesorter();
            $("#tblBusqueda2").tablesorter();

            $('.cancelar').click(function() {
                $('#modalCancelacion').modal('show');
                console.log($(this));
                $("#idSolicitud").val($(this).data("idsolicitud"));
            });
        });
    
        function setImage(id, src)
        {
            $(id).attr("src", src == null ? "/Content/img/solicitudes/docs/no-document.png" : src);
        }
    </script>
}