@using Sistema
@{
    ViewBag.Title = "Solicitud Web";
    Layout = "~/Views/Shared/Layouts/_LayoutSolicitudWeb.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-md-12">

        <div>
            @using (Html.BeginForm())
            {
                Html.EnableClientValidation(false);
                <div class="middle-box animated fadeInDown" style="max-width: 100% !important;">
                    <div id="caja" class="container-fluid" style="max-width: 768px;">
                        <div class="text-center">
                            <h2>Constancias de No Inhabilitación</h2>
                        </div>
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Ciudadano</h5>
                            </div>
                            <div class="ibox-content" style="display: block;">
                                <div class="row text-center">
                                    <div class="col-xs-2 col-md-2 col-md-offset-1 col-xs-offset-1" data-toggle="tooltip" title="Con el pase a caja podrá realizar el pago en Agencias Fiscales, Comercios Autorizados y/o a través de la opción de Pago en Línea.">
                                        <button class="btn btn-info dim btn-large-dim" type="button">
                                            <i class="fa fa-file-pdf-o" style="font-size: 54px;"></i>
                                        </button><br />
                                        <input type="hidden" value="@Url.Action("Index", "GeneracionPaseCaja")" />
                                        <label>Generar pase a caja</label>
                                    </div>
                                    <div class="col-xs-2 col-md-2" data-toggle="tooltip" title="Pago en línea de un Pase a Caja.">
                                        <button class="btn btn-danger dim btn-large-dim" type="button" id="btnPagoLinea"
                                                data-toggle="modal" data-target="#modalPagoLinea">
                                            <i class="fa fa-credit-card" style="font-size: 54px;"></i>
                                        </button><br />
                                        <label>Pago en línea</label>
                                    </div>
                                    <div class="col-xs-2 col-md-2">
                                        <button class="btn btn-primary dim btn-large-dim" type="button">
                                            <i class="fa fa-user" style="font-size: 54px;"></i>
                                        </button><br/>
                                        <input type="hidden" value="@Url.Action("Ciudadano", "SolicitudWeb")"/>
                                        <label>Solicitud de constancia</label>
                                    </div>
                                    <div class="col-xs-2 col-md-2">
                                        <button class="btn btn-info dim btn-large-dim" type="button">
                                            <i class="fa fa-search" style="font-size: 54px;"></i>
                                        </button><br/>
                                        <input type="hidden" value="@Url.Action("Index", "Validacion")"/>
                                        <label>Búsqueda e impresión de constancia</label>
                                    </div>
                                    <div class="col-xs-2 col-md-2">
                                        <button class="btn btn-warning dim btn-large-dim" type="button">
                                            <i class="fa fa-certificate" style="font-size: 54px;"></i>
                                        </button><br/>
                                        <input type="hidden" value="@Url.Action("Constancia", "Validacion")"/>
                                        <label>Validar constancia</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Dependencia o Entidad</h5>
                            </div>
                            <div class="ibox-content" style="display: block;">
                                <div class="row text-center">
                                    <div class="col-xs-2 col-md-2 col-md-offset-2 col-xs-offset-2" data-toggle="tooltip" title="Con el pase a caja podrá realizar el pago en Agencias Fiscales, Comercios Autorizados y/o a través de la opción de Pago en Línea.">
                                        <button class="btn btn-info dim btn-large-dim" type="button">
                                            <i class="fa fa-file-pdf-o" style="font-size: 54px;"></i>
                                        </button><br />
                                        <input type="hidden" value="@Url.Action("Index", "GeneracionPaseCaja")" />
                                        <label>Generar pase a caja</label>
                                    </div>
                                    <div class="col-xs-2 col-md-2" data-toggle="tooltip" title="Pago en línea de un Pase a Caja.">
                                        <button class="btn btn-danger dim btn-large-dim" type="button" id="btnPagoLinea"
                                                data-toggle="modal" data-target="#modalPagoLinea">
                                            <i class="fa fa-credit-card" style="font-size: 54px;"></i>
                                        </button><br />
                                        <label>Pago en línea</label>
                                    </div>
                                    <div class="col-xs-2 col-md-2">
                                        <button class="btn btn-primary dim btn-large-dim" type="button">
                                            <i class="fa fa-building" style="font-size: 54px;"></i>
                                        </button><br />
                                        <input type="hidden" value="@Url.Action("Entidad", "SolicitudWeb")" />
                                        <label>Solicitud de constancia</label>
                                    </div>
                                    <div class="col-xs-2 col-md-2">
                                        <button class="btn btn-info dim btn-large-dim" type="button">
                                            <i class="fa fa-search" style="font-size: 54px;"></i>
                                        </button><br/>
                                        <input type="hidden" value="@Url.Action("Buscar")"/>
                                        <label>Búsqueda de solicitud</label>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modalPagoLinea">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pago en línea</h5>
            </div>
            <div class="modal-body">
                <p>Será reenviado a un módulo de la Secretaría de Hacienda para realizar el pago en línea.</p>
                <p>
                    <span class="badge">1</span>&nbsp;Para realizar el pago en línea es necesario haber generado un Pase a Caja.
                    Si no ha realizado este paso de clic <a target="_blank" href="@Url.Action("Index", "GeneracionPaseCaja")">AQUÍ</a> para generarlo.
                </p>
                <p>
                    <span class="badge">2</span>&nbsp;Posteriormente ingresar el folio del Pase a Caja y siga las instrucciones correspondientes.
                </p>
                <p>
                    <span class="badge">3</span>&nbsp;Una vez realizado el pago en línea ingresar a la opción
                    "<a href="@Url.Action("Ciudadano", "SolicitudWeb")">Nueva solicitud</a>" de este SITIO e ingresar el folio del Pase a Caja / Recibo Oficial pagado.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">No, Gracias</button>
                <a class="btn btn-primary" id="btnAbrirPagoLinea" 
                   href="@VaribalesWebconfig.UrlPagoLineaPaseCaja" target="_blank">Entendido</a>
            </div>
        </div>
    </div>
</div>

@section FooterScripts
{
    <script type="text/javascript">
        $(document).on("ready", function () {
            $('[data-toggle="tooltip"]').tooltip();

            $("#caja .btn").on("click", function () {
                var url = $(this).closest("div").find("input[type=hidden]").val();

                if (url) {
                    window.location = url;
                }
            });

            $("#btnAbrirPagoLinea").click(function() {
                $("#modalPagoLinea").modal('hide');
            });            
        });          

        isSafari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || safari.pushNotification);
        
        if (isSafari) {
            $("#modalPagoLinea").attr('data-backdrop', 'false');            
        }        

        $(function () {
            $(window).resize(function () {
                $('#caja').css("padding-top", altura.alturaVentana / 2);
            });

            $(window).resize();
        });

        var altura = (function () {
            var alturaVentana = $(window).height() / 2;
            var alturaCaja = $("#caja").height() / 2;
            return {
                alturaVentana: alturaVentana - alturaCaja - 30
            };
        })();        
    </script>
}
