@using Datos
@using Datos.Repositorios.Catalogos
@using Presentacion.Helpers

@using Datos.Recursos
@using Sistema

@model Datos.DTO.Infraestructura.ViewModels.SolicitudViewModel


@{
    ViewBag.Title = "Registrar Solicitud";

}

@using (@Html.BeginForm())
{
    @Html.HiddenFor(m => m.Solicitud.Medio);
    <div class="tarjeta bg-f bx-s">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="col-md-12"><h4>Datos de la Solicitud</h4></div>
                <div class="col-md-12">
                    <div class="col-md-4 p-t-5"><label for="Solicitud_Tipo"><strong class="obligatorio">*</strong>Tipo:</label></div>
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.Solicitud.Tipo, Listas.ObtenerListaTipoSolicitudes(), new { @class = "form-control input-sm" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="alert alert-info text-center" id="alertFolioPago" style="margin-top: 5px; margin-bottom: 0;">
                        Ingrese el número de folio del comprobante de pago para su validación.
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4 p-t-5"><label for="Solicitud_FolioPago"><strong class="obligatorio">*</strong>Folio de Pago:</label></div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Solicitud.FolioPago, new { @class = "form-control input-sm", @maxlength = 23 })
                        @Html.ValidationMessageFor(m => m.Solicitud.FolioPago, null, new { @class = "label label-warning" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4 p-t-5"><label for="Solicitud_Fecha">Fecha de Pago:</label></div>
                    <div class="col-md-8">
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.Solicitud.Fecha, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm m-t-0", @maxlength = 10 })
                            <label class="input-group-addon btn" for="Solicitud_Fecha">
                                <i class="fa fa-calendar"></i>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4 p-t-5"><label for="Solicitud_Identificacion"><strong class="obligatorio">*</strong>Identificación:</label></div>
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.Solicitud.Identificacion, Listas.ObtenerListaTipoIdentificacion(), new { @class = "form-control input-sm" })
                    </div>
                </div>
                <div id="div_entidad" hidden>
                    <div class="col-md-12"><h4>Datos de la Dependencia-Entidad</h4></div>
                    <div class="col-md-12">
                        <div class="col-md-4 p-t-5"><label for="Solicitud_NumeroDeOficio">Número de Oficio:</label></div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Solicitud.NumeroDeOficio, new { @class = "form-control input-sm", @maxlength = 25 })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4 p-t-5"><label for="Solicitud_Tipo"><strong class="obligatorio">*</strong>Tipo de Dependencia-Entidad:</label></div>
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.Solicitud.Entidad.Tipo, Listas.ObtenerListaTipoEntidad(), new { @class = "form-control input-sm", @disabled = true })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4 p-t-5"><label for="Solicitud_Entidad_IDEntidad"><strong class="obligatorio">*</strong>Nombre Dependencia-Entidad:</label></div>
                        <div class="col-md-8">
                            @Html.EntidadDdl(m => m.Solicitud.Entidad.IDEntidad, Model.Solicitud.Entidad.Tipo, Model.Solicitud.Entidad.IDEntidad)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="col-md-12"><h4>Datos del Solicitante</h4></div>
                <div class="col-md-12">
                    <div class="col-md-4 p-t-5"><label for="Solicitud_Persona_RFC">RFC:</label></div>
                    <div class="col-md-8">
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.Solicitud.Persona.RFC, new { @class = "form-control input-sm m-t-0 uppercase", @maxlength = 13 })
                            <span id="Solicitud_Persona_RFC_Buscar" class="input-group-addon btn"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4 p-t-5"><label for="Solicitud_Persona_Nombre"><strong class="obligatorio">*</strong>Nombre:</label></div>
                    <div class="col-md-8">
                        @Html.HiddenFor(m => m.Solicitud.Persona.IDPersona)
                        @Html.TextBoxFor(m => m.Solicitud.Persona.Nombre, new { @class = "form-control input-sm uppercase", @maxlength = 50, @onkeypress = "return soloLetras(event)" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4 p-t-5"><label for="Solicitud_Persona_ApellidoP"><strong class="obligatorio">*</strong>Primer Apellido:</label></div>
                    <div class="col-md-8">@Html.TextBoxFor(m => m.Solicitud.Persona.ApellidoP, new { @class = "form-control input-sm uppercase", @maxlength = 50, @onkeypress = "return soloLetras(event)" })</div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4 p-t-5"><label for="Solicitud_Persona_ApellidoM">Segundo Apellido:</label></div>
                    <div class="col-md-8">@Html.TextBoxFor(m => m.Solicitud.Persona.ApellidoM, new { @class = "form-control input-sm uppercase", @maxlength = 50, @onkeypress = "return soloLetras(event)" })</div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4 p-t-5"><label for="Solicitud_Persona_Genero"><strong class="obligatorio">*</strong>Género:</label></div>
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.Solicitud.Persona.Genero, Listas.ObtenerListaGenero(), new { @class = "form-control input-sm" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4 p-t-5"><label for="persona_fecha_nacimiento">Fecha de Nacimiento:</label></div>
                    <div class="col-md-8">
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.Solicitud.Persona.FechaNacimiento, "{0:dd/MM/yyyy}", new { id = "persona_fecha_nacimiento", @class = "datefield form-control input-sm m-t-0", @maxlength = 10 })
                            <label class="input-group-addon btn" for="persona_fecha_nacimiento">
                                <i class="fa fa-calendar"></i>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4"><label for="Solicitud_Persona_CorreoElectronico">Correo:</label></div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Solicitud.Persona.CorreoElectronico, new { @class = "form-control input-sm", @Type = "email", @maxlength = 50 })
                        @Html.ValidationMessageFor(m => m.Solicitud.Persona.CorreoElectronico, null, new { @class = "label label-warning", @Type = "email"})
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4 p-t-5"><label for="Solicitud_Persona_CURP">CURP:</label></div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Solicitud.Persona.CURP, new { @class = "form-control input-sm uppercase", @maxlength = 18 })
                    </div>
                </div>
                @if (Model.Solicitud.Medio == MediosSolicitud.Web)
                {
                    <div class="col-md-12">
                        <div class="col-md-4 p-t-5"><label for="Solicitud_Persona_IDEstado">Estado:</label>
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.Solicitud.Persona.IDEstado, EstadoRepositorio.Buscar(), new {@class = "form-control input-sm"})
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4 p-t-5"><label for="Solicitud_Persona_IDMunicipio">Municipio:</label>
                        </div>
                        <div class="col-md-8">
                            @Html.MunicipioDdl(m => m.Solicitud.Persona.IDMunicipio, Model.Solicitud.Persona.IDEstado, Model.Solicitud.Persona.IDMunicipio)
                            @Html.Hidden("hdf.idmunicipio", "0", new {@id = "hdf_idmunicipio_deafult"})
                        </div>
                    </div>
                }
            </div>
            
        </div>
        <div class="col-md-12"><br /></div>
        <div class="col-md-12">
            <div class="col-md-12 center-xs">
                <button class="btn btn-block btn-primary">Enviar Solicitud</button>
            </div>
            <small>Todos los campos marcados con <strong class="obligatorio">*</strong> son obligatorios.</small>
        </div>
    </div>
    
}

@section Modales
{
<div class="modal fade" id="mdlPersona" tabindex="-1" role="dialog" aria-labelledby="lbl_ConfirmarPersona">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">
                    <label>Coincidencia</label>
                </h3>
            </div>
            <div class="modal-body text-center">
                <h4><label class="col-md-12" id="lbl_persona_coincidencia">¿Es usted una da las siguientes personas esta persona?</label></h4>
                <br />
                <table class="table table-bordered table-striped" id="tbl_Persona_Coincidencia">
                    <thead>
                        <tr>
                            <td>Nombre</td>
                            <td>Primer Apellido</td>
                            <td>Segundo Apellido</td>
                            <td>RFC</td>
                            <td>Acciones</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mdlConfirmar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">
                    <label>@General.Cuidado</label>
                </h3>
            </div>
            <div class="modal-body text-center">
                <label id="lblModal"></label>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" tabindex="2">@General.Cancelar</button>
                <button id="btnConfirmar" class="btn btn-primary">@General.Aceptar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mdlNoCoincidencia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">
                    <i class="fa fa-info-circle" style="font-size: 14pt;"></i>
                    &nbsp;
                    <label>Aviso</label>
                </h3>
            </div>
            <div class="modal-body text-center">
                No se encontraron coincidencias para el RFC: <label id="lbl_rfc_no_coincidencia"></label>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" class="btn btn-primary">@General.Aceptar</a>
            </div>
        </div>
    </div>
</div>
}

@section FooterScripts
{
    <script type="text/javascript">
        var datos;
        $(document).on("ready", function () {
            $("#Solicitud_FolioPago").change(function () {
                var folioPago = $(this).val();
                var longitudFolio = folioPago.length;

                var divAlerta = $('#alertFolioPago');

                if (longitudFolio !== 15 && longitudFolio !== 23) {
                    divAlerta.attr('class', 'alert alert-danger text-center');
                    divAlerta.html('El folio no tiene la longitud correcta.');
                    return;
                }

                $.ajax({
                    data: "{folioPago: '" + $(this).val() + "'}",
                    dataType: "json",
                    contentType: "application/json",
                    type: "POST",
                    url: '@Url.Action("ObtenerInformacionFolioPago", "Registro", new { area = "Solicitud" })',
                    beforeSend: function () {
                        divAlerta.attr('class', 'alert alert-info text-center');
                        divAlerta.html('Validando...');
                    },
                    success: function (datosFolioPago) {
                        if (datosFolioPago.Existe) {
                            divAlerta.attr('class', 'alert alert-danger text-center');
                            divAlerta.html('El folio "<strong>' + folioPago + '</strong>" ya sido utilizado.');
                            $("#Solicitud_FolioPago").val("");
                        } else if (datosFolioPago.Nombre != null) {
                            divAlerta.attr('class', 'alert alert-success text-center');
                            divAlerta.html('El recibo de pago está a nombre de <br/> ' + datosFolioPago.Nombre);
                        } else {
                            divAlerta.attr('class', 'alert alert-danger text-center');
                            divAlerta.html('No se encontró registro de pago con ese folio.');
                        }
                    },
                    error: function (error) {
                        divAlerta.attr('class', 'alert alert-danger text-center');
                        divAlerta.html('Hubo un error al validar el folio ingresado.');
                    }
                });
            });

            // Opciones
            var fechas = [
                $("#persona_fecha_nacimiento"),
                $("#Solicitud_Fecha")
            ];

            // Inicializar
            var opciones = [1, 'dd/mm/yyyy', true];
            iniciarFechas(fechas, opciones);

            // Cambiart
            $('#persona_fecha_nacimiento').datepicker('update', new Date());
            $('#Solicitud_Fecha').datepicker('update', new Date());

            $("Solicitud_Entidad_IDEntidad").addClass("bg-e");

            $("i.icon-arrow-left").addClass("fa fa-chevron-left");
            $("i.icon-arrow-left").removeClass("icon-arrow-left");
            $("i.icon-arrow-right").addClass("fa fa-chevron-right");
            $("i.icon-arrow-right").removeClass("icon-arrow-right");

            $("#Solicitud_Persona_RFC_Buscar").on("click", function () {
                if (!ValidarControl($("#Solicitud_Persona_RFC"))) {
                    var mensaje = "RFC es requerido";
                    mostrarAlert(mensaje, "danger", true);

                    $('html,body').scrollTop(0);

                    event.preventDefault();
                    return false;
                }
                else if (!ValidarRfc($("#Solicitud_Persona_RFC"), false))
                {
                    var mensaje = "El formato del RFC no es correcto";
                    mostrarAlert(mensaje, "danger", true);

                    $('html,body').scrollTop(0);

                    event.preventDefault();
                    return false;
                }

                var rfc = $("#Solicitud_Persona_RFC").val();

                datos = buscarPersonaPorRFC(rfc);

                datos.success(function (data) {
                    if (data.length == 0) {
                        $('#lbl_rfc_no_coincidencia').html(rfc);
                        $('#mdlNoCoincidencia').modal('show');
                        return false;
                    }
                    $("#lbl_persona_coincidencia").html(data.length == 1 ? "¿Es usted esta persona?" : "¿Es usted alguna de las siguientes personas?");

                    var tbdoy = "";

                    $.each(data, function (i, item) {
                        tbdoy += "<tr>";
                        tbdoy += "<td>" + item["Nombre"] + "</td>";
                        tbdoy += "<td>" + item["APaterno"] + "</td>";
                        tbdoy += "<td>" + item["AMaterno"] + "</td>";
                        tbdoy += "<td>" + item["RFC"] + "</td>";
                        tbdoy += "<td>";
                        tbdoy += "<a class='btn btn-primary btn-circle' onclick='seleccionarPersona(" + item["IDPersona"] + ")'><i class='fa fa-check'></i></a>"
                        tbdoy += "<input type='hidden' id='hfd_Persona_" + item["IDPersona"] + "' value='" + item["IDPersona"] + "'/>";
                        tbdoy += "<input type='hidden' id='hfd_Persona_" + item["IDPersona"] + "_RFC' value='" + item["RFC"] + "'/>";
                        tbdoy += "<input type='hidden' id='hfd_Persona_" + item["IDPersona"] + "_Nombre' value='" + item["Nombre"] + "'/>";
                        tbdoy += "<input type='hidden' id='hfd_Persona_" + item["IDPersona"] + "_ApellidoP' value='" + item["APaterno"] + "'/>";
                        tbdoy += "<input type='hidden' id='hfd_Persona_" + item["IDPersona"] + "_ApellidoM' value='" + item["AMaterno"] + "'/>";
                        tbdoy += "<input type='hidden' id='hfd_Persona_" + item["IDPersona"] + "_FechaNacimiento' value='" + cambiarFormatoFecha(item["FechaNacimiento"]) + "'/>";
                        tbdoy += "<input type='hidden' id='hfd_Persona_" + item["IDPersona"] + "_Genero' value='" + item["Genero"] + "'/>";
                        tbdoy += "<input type='hidden' id='hfd_Persona_" + item["IDPersona"] + "_CURP' value='" + item["CURP"] + "'/>";
                        tbdoy += "<input type='hidden' id='hfd_Persona_" + item["IDPersona"] + "_Correo' value='" + item["Correo"] + "'/>";
                        tbdoy += "<input type='hidden' id='hfd_Persona_" + item["IDPersona"] + "_IDEstado' value='" + item["IDEstado"] + "'/>";
                        tbdoy += "<input type='hidden' id='hfd_Persona_" + item["IDPersona"] + "_IDMunicipio' value='" + item["IDMunicipio"] + "'/>";
                        tbdoy += "</td>";
                        tbdoy += "</tr>";
                    });

                    $("#tbl_Persona_Coincidencia tbody").html(tbdoy);
                    $('#mdlPersona').modal('show');
                });
            });

            $("#mdlPersona_Aceptar").on("click", function () {

                datos.success(function (data) {
                    $("#Solicitud_Persona_IDEstado").val(data["IDEstado"]);
                    $("#hdf_idmunicipio_deafult").val(data["IDMunicipio"]);
                    $("#Solicitud_Persona_IDEstado").change();

                    $("#Solicitud_Persona_IDPersona").val(data["IDPersona"]);
                    $("#Solicitud_Persona_Nombre").val(data["Nombre"]);
                    $("#Solicitud_Persona_ApellidoP").val(data["APaterno"]);
                    $("#Solicitud_Persona_ApellidoM").val(data["AMaterno"]);
                    $("#Solicitud_Persona_Genero").val(parseInt(data["Genero"]));
                    $("#Solicitud_Persona_CorreoElectronico").val(data["Correo"]);
                    $("#persona_fecha_nacimiento").val(data["FechaNacimiento"]);
                    $("#Solicitud_Persona_CURP").val(data["CURP"]);
                    $("#Solicitud_Persona_RFC").val(data["RFC"]);

                });

            });
            
            $("form").on("submit", function () {
                var no_validos = 0;

                no_validos += ValidarControl($("#Solicitud_Tipo")) ? 0 : 1;
                no_validos += ValidarControl($("#Solicitud_FolioPago")) ? 0 : 1;
                no_validos += ValidarControl($("#Solicitud_Fecha")) ? 0 : 1;
                no_validos += ValidarControl($("#Solicitud_Identificacion")) ? 0 : 1;
                no_validos += ValidarControl($("#Solicitud_Entidad_Tipo")) ? 0 : 1;
                no_validos += ValidarControl($("#Solicitud_Entidad_IDEntidad")) ? 0 : 1;
                no_validos += ValidarControl($("#Solicitud_Persona_Nombre")) ? 0 : 1;
                no_validos += ValidarControl($("#Solicitud_Persona_ApellidoP")) ? 0 : 1;
                no_validos += ValidarControl($("#Solicitud_Persona_Genero")) ? 0 : 1;

                var mensajeFolio = "";
                var longitudFolio = $("#Solicitud_FolioPago").val().length;
                if (longitudFolio !== 15 && longitudFolio !== 23) {
                    no_validos++;
                    mensajeFolio = " <br/> El folio de pago es incorrecto.";
                }

                var emailCorrecto = ValidarEmail($("#Solicitud_Persona_CorreoElectronico"), true);
                var mensajeEmail = "";
                if (!emailCorrecto) {
                    no_validos += 1;
                    mensajeEmail = " <br/> Correo electrónico inválido.";
                }

                var rfcCorrecto = ValidarRfc($("#Solicitud_Persona_RFC"), true);
                var mensajeRfc = "";
                if (!rfcCorrecto) {
                    no_validos += 1;
                    mensajeRfc = " <br/> RFC inválido.";
                }

                if (no_validos > 0) {
                    var mensaje = "Los campos marcados en rojo no deben estar vacios." + mensajeFolio + mensajeRfc + mensajeEmail;
                    mostrarAlert(mensaje, "danger", true);

                    $('html,body').scrollTop(0);

                    event.preventDefault();
                    return false;
                }
            });

        });

        function buscarPersonaPorRFC(rfc)
        {
            return $.ajax({
                data: "{RFC: '" + rfc + "'}",
                dataType: "json",
                contentType: "application/json",
                type: "POST",
                url: '@Url.Action("ObtenerPersonaPorRFC", "Persona", new { area = string.Empty })'
            });
        }

        $(function () {
            $("#Solicitud_Tipo").on("change", function () {
                if ($(this).val() <= 1) {
                    
                    $("#Solicitud_Entidad_Tipo").attr("disabled", "disabled");
                    $("#Solicitud_Entidad_Tipo").val($("#Solicitud_Entidad_Tipo option:first").val());
                    $("#Solicitud_Entidad_IDEntidad").attr("disabled", "disabled");
                    $("#Solicitud_Entidad_IDEntidad").empty();
                    $("#div_entidad").fadeOut();
                } else {
                    $("#Solicitud_Entidad_Tipo").removeAttr("disabled");
                    $("#Solicitud_Entidad_IDEntidad").removeAttr("disabled");
                    $("#div_entidad").fadeIn();
                }
            });
        });

        function seleccionarPersona(id) {

            var idPersona = $("#hfd_Persona_" + id).val();
            var rfc = $("#hfd_Persona_" + id + "_RFC").val();
            var nombre = $("#hfd_Persona_" + id + "_Nombre").val();
            var apellidop = $("#hfd_Persona_" + id + "_ApellidoP").val();
            var apellidom = $("#hfd_Persona_" + id + "_ApellidoM").val();
            var fechanacimiento = $("#hfd_Persona_" + id + "_FechaNacimiento").val();
            var genero = $("#hfd_Persona_" + id + "_Genero").val().trim();
            var curp = $("#hfd_Persona_" + id + "_CURP").val();
            var correo = $("#hfd_Persona_" + id + "_Correo").val();
            var estado = $("#hfd_Persona_" + id + "_IDEstado").val();
            var municipio = $("#hfd_Persona_" + id + "_IDMunicipio").val();

            $("#Solicitud_Persona_IDPersona").val(idPersona);
            $("#Solicitud_Persona_RFC").val(rfc).removeClass("input-validation-error");
            $("#Solicitud_Persona_Nombre").val(nombre).removeClass("input-validation-error");
            $("#Solicitud_Persona_ApellidoP").val(apellidop).removeClass("input-validation-error");
            $("#Solicitud_Persona_ApellidoM").val(apellidom).removeClass("input-validation-error");
            $("#persona_fecha_nacimiento").val(fechanacimiento).removeClass("input-validation-error");
            
            $("#Solicitud_Persona_CURP").val(curp).removeClass("input-validation-error");
            $("#Solicitud_Persona_CorreoElectronico").val(correo).removeClass("input-validation-error");
            $("#Solicitud_Persona_IDEstado").val(estado);
            $("#Solicitud_Persona_IDMunicipio").val(municipio);
            $("#hdf_idmunicipio_deafult").val(municipio);
            $("#Solicitud_Persona_IDEstado").change();

            $('#mdlPersona').modal('hide');
        }

        function disableDDL(ddl) {
            ddl.empty();
            ddl.attr("disabled", "disabled");
        }
      
    </script>
}
