@using Datos.Recursos
@using Sistema
@model Datos.Entidad

@{
    ViewBag.Title = "Guardar Dependencia-Entidad";
}
<div class="ibox bx-s">
    <div class="ibox-content p-l-20 p-r-10 bg-f">
        <div class="row center-xs">
            <div class="form-horizontal col-xs-12">
                @using (Html.BeginForm())
                {

                    <div class="form-group">
                        <div class="col-sm-4 end-sm start-xs">
                            <label for="Nombre"><strong class="obligatorio">*</strong>Nombre</label>
                        </div>
                        <div class="col-sm-4 end-sm start-xs">
                            @Html.TextBoxFor(m => m.Nombre, new {@class = "form-control input-sm uppercase", @maxlength = 100, @onkeypress = "return soloLetras(event)"})
                            @*@Html.ValidationMessageFor(m => m.Nombre, null, new {@class = "label label-warning"})*@
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 end-sm start-xs">
                            <label for="Tipo"><strong class="obligatorio">*</strong>Tipo</label>
                        </div>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(m => m.Tipo, Listas.ObtenerListaTipoEntidad(), new {@class = "form-control"})
                            @*@Html.ValidationMessageFor(m => m.Tipo, null, new { @class = "label label-warning" })*@
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 end-sm start-xs">
                            <label for="Abreviacion">Abreviación</label>
                        </div>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.Abreviacion, new {@class = "form-control uppercase", @maxlength = 15, @onkeypress = "return abreviacion(event)"})
                            @*@Html.ValidationMessageFor(m => m.Abreviacion, null, new { @class = "label label-warning" })*@
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6 col-sm-offset-2">
                            <div class="pull-right">
                                @Html.ActionLink(General.Regresar, "Index", "Entidad", new {area = "Catalogo"}, new {@class = "btn btn-default"})
                                <input type="submit" value="@General.Guardar" class="btn btn-primary"/>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <small>Todos los campos marcados con <strong class="obligatorio">*</strong> son obligatorios.</small>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("form").on("submit", function () {
            var no_validos = 0;
            no_validos += ValidarControl($("#Nombre")) ? 0 : 1;
            no_validos += ValidarControl($("#Tipo")) ? 0 : 1;

            if (no_validos > 0) {
                var mensaje = "Los campos marcados en rojo no deben estar vacios.";
                mostrarAlert(mensaje, "danger", true);

                $('html,body').scrollTop(0);

                event.preventDefault();
                return false;
            }

        });
    });
 
</script>

