@using Datos.Recursos
@using Datos.Repositorios.Catalogos
@using Presentacion.Helpers
@using Sistema
@model Datos.DTO.Infraestructura.ViewModels.EntidadViewModel

@{
    ViewBag.Title = "Buscar Dependencia-Entidad";
}

@using (Html.BeginForm())
{  <div class="ibox bx-s">
        <div class="ibox-content p-l-20 p-r-10 bg-f">
            <div class="row">
                <div class="col-xs-12 p-all-0">
                    @{ Html.EnableClientValidation(false); }

                    <div class="col-xs-12 col-md-6">
                        <div class="col-md-12 form-horizontal">
                            <div class="form-group">
                                <div class="col-md-3 col-xs-12">
                                    <label for="Entidad_Nombre">Nombre:</label>
                                </div>
                                <div class="col-md-9 col-xs-12">
                                    @Html.TextBoxFor(m => m.Entidad.Nombre, new { @class = "form-control input-sm", @onkeypress = "return soloLetras(event)", @maxlength = 50 })
                                </div>
                            </div>
                        </div>@* Entidad.Nombre *@
                        <div class="col-md-12 form-horizontal">
                            <div class="form-group">
                                <div class="col-md-3 col-xs-12">
                                    <label for="Entidad_Tipo">Tipo:</label>
                                </div>
                                <div class="col-md-9 col-xs-12">
                                    @Html.DropDownListFor(m => m.Entidad.Tipo, Listas.ObtenerListaTipoEntidad(), new { @class = "form-control" })
                                </div>
                            </div>
                        </div>@* Entidad.Tipo *@
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="col-md-12 form-horizontal">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label for="Entidad_Habilitado">Habilitado:</label>
                                </div>
                                <div class="col-md-9 ">
                                    <div class="checkbox checkbox-success">
                                        @Html.CheckBoxFor(m => m.Entidad.Habilitado, new { @checked = true })
                                        @Html.LabelFor(m => m.Entidad.Habilitado)
                                    </div>
                                </div>
                            </div>
                        </div>@* Entidad.Habilitado *@
                        <div class="col-md-12 form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-12">
                                    <label for="Entidad_Abreviacion">Abreviación:</label>
                                </div>
                                <div class="col-sm-9 col-xs-12">
                                    @Html.TextBoxFor(m => m.Entidad.Abreviacion, new { @class = "form-control input-sm", @onkeypress = "return soloLetras(event)", @maxlength = 15 })
                                </div>
                            </div>
                        </div>@* Entidad.Abreviacion *@
                    </div>




                    <div class="col-md-12 m-t-10">
                        <div class="pull-right">
                            <input type="submit" class="btn btn-sm btn-primary" value="@General.Buscar" />
                            @Html.ActionLink(General.Nuevo, "Guardar", new { area = "Catalogo" }, new { @class = "btn btn-sm btn-default" })
                        </div>
                    </div>

                    <div class="col-xs-12 m-t-20 p-internos-0 m-b-5">
                        <div class="col-md-6 bold">
                            @Html.DropDownListFor(m => m.TamanoPagina, Listas.ObtenerListaCantidadPagina())
                            @General.TamanoPagina
                        </div>
                        <div class="col-xs-12 col-md-6 text-right">
                            <label class="label label-success">
                                @General.Encontrados: @Model.TotalEncontrados
                            </label>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped" id="tblBusqueda">
                            <thead>
                                <tr>
                                    <th>Abrv.</th>
                                    <th>@Html.DisplayNameFor(m => m.Entidad.Nombre)</th>
                                    <th>@Html.DisplayNameFor(m => m.Entidad.Tipo)</th>
                                    <th class="text-center">@General.Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var entidad in Model.Entidades)
                                {
                                    <tr>
                                        <td>@entidad.Abreviacion</td>
                                        <td>@entidad.Nombre</td>
                                        <td>@Listas.ObtenerValorDeLista(Listas.ObtenerListaTipoEntidad(), @entidad.Tipo)</td>
                                        <td class="text-center">
                                            @if (entidad.Habilitado)
                                            {
                                                @Html.ActionLinkCifrado(General.Modificar, "Guardar", "Entidad", "Catalogo",
                                                            "btn btn-warning btn-circle", "fa fa-pencil",
                                                            new Dictionary<string, int> { { "idEntidad", entidad.IDEntidad } })

                                                @Html.ActionLinkCifrado(General.Deshabilitar, "Deshabilitar", "Entidad", "Catalogo",
                                                            "btn btn-danger btn-circle deshabilitar", "fa fa-times",
                                                            new Dictionary<string, int> { { "idEntidad", entidad.IDEntidad } })
                                            }
                                            else
                                            {
                                                @Html.ActionLinkCifrado(General.Habilitar, "Habilitar", "Entidad", "Catalogo",
                                                                "btn btn-primary btn-circle habilitar", "fa fa-check",
                                                                new Dictionary<string, int> { { "idEntidad", entidad.IDEntidad } })
                                            }

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div>
                        @Html.Partial("Controls/_Paginacion", Model)
                    </div>
                </div>

            </div>
        </div>
    </div>
}

@section Modales
{
    @Html.Partial("Controls/_ModalHabilitar")
}

@section FooterScripts
{
    <script type="text/javascript" src="/Scripts/plugins/iCheck/icheck.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.tablesorter.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            habilitar.Iniciar('Entidad');
        })

        $(document).ready(function () {

            $("#tblBusqueda").tablesorter();

        });
    </script>
}
