@using Sistema
@model Datos.DTO.Infraestructura.ViewModels.ReporteCanceladaViewModel
@{
    ViewBag.Title = "Reporte de Canceladas";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="ibox bx-s">
        <div class="ibox-content p-l-20 p-r-10 bg-f">
            <div class="row">
                <div class="col-xs-12 p-all-0">
                    @{ Html.EnableClientValidation(false); }

                    <div class="col-md-6">
                        <div class="col-md-12 form-horizontal">
                            <div class="form-group">
                                <div class="col-md-3 col-xs-12">
                                    @Html.LabelFor(m => m.FechaInicio):
                                </div>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.FechaInicio, "{0:dd/MM/yyyy}", new { @class = "form-control m-t-0", @maxlength = 10 })
                                        <label class="input-group-addon btn" for="FechaInicio">
                                            <i class="fa fa-calendar"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 form-horizontal">
                            <div class="form-group">
                                <div class="col-md-3 col-xs-12">
                                    @Html.LabelFor(m => m.FechaFin):
                                </div>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.FechaFin, "{0:dd/MM/yyyy}", new { @class = "form-control m-t-0", @maxlength = 10 })
                                        <label class="input-group-addon btn" for="FechaFin">
                                            <i class="fa fa-calendar"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12 form-horizontal">
                            <div class="form-group">
                                <div class="col-md-3 col-xs-12">
                                    @Html.LabelFor(m => m.FolioDePago):
                                </div>
                                <div class="col-md-9 col-xs-12">
                                    @Html.TextBoxFor(m => m.FolioDePago, null, new { @class = "form-control ", @maxlength = 80 })
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="col-md-12 form-horizontal">
                            <div class="form-group">
                                <div class="col-md-3 col-xs-12">
                                    @Html.LabelFor(m => m.Nombre):
                                </div>
                                <div class="col-md-9 col-xs-12">
                                    @Html.TextBoxFor(m => m.Nombre, null, new { @class = "form-control ", @maxlength = 80 })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 form-horizontal">
                            <div class="form-group">
                                <div class="col-md-3 col-xs-12">
                                    @Html.LabelFor(m => m.ApellidoP):
                                </div>
                                <div class="col-md-9 col-xs-12">
                                    @Html.TextBoxFor(m => m.ApellidoP, null, new { @class = "form-control ", @maxlength = 80 })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 form-horizontal">
                            <div class="form-group">
                                <div class="col-md-3 col-xs-12">
                                    @Html.LabelFor(m => m.ApellidoM):
                                </div>
                                <div class="col-md-9 col-xs-12">
                                    @Html.TextBoxFor(m => m.ApellidoM, null, new { @class = "form-control ", @maxlength = 80 })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-12 m-t-10">
                        <div class="pull-right">
                            <input type="submit" name="enviar" class="btn btn-sm btn-primary" value="Generar" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}

@section FooterScripts
{
    <script type="text/javascript">
        window.MostrarDivCargando = false;

        $(document).ready(function() {
            $("#FechaInicio, #FechaFin").datepicker({
                language: "es",

                keyboardNavigation: true,
                forceParse: false,
                calendarWeeks: true,

                viewMode: 1,
                daysOfWeekHighlighted: "1,2,3,4,5",
                today: "linked",
                format: 'dd/mm/yyyy', autoclose: true
            }).on('changeDate', function (ev) {
                (ev.viewMode == 'days') ? $(this).datepicker('hide') : '';
            });
        });
    </script>
}