@model Datos.DTO.Infraestructura.ViewModels.PaseCajaRequest
@{
    ViewBag.Title = "Generación pase a caja";
    Layout = "~/Views/Shared/Layouts/_LayoutSolicitudWeb.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="middle-box animated fadeInDown" style="max-width: 700px">
            <div id="caja" class="container-fluid box">
                <div class="col-xs-12 p-lateral-0 text-center">
                    <h2>GENERACIÓN DE PASE A CAJA</h2>
                    <hr />
                    <p>Para generar el pase a caja por favor ingrese la siguiente información.</p>
                    @using (Html.BeginForm("Index", "GeneracionPaseCaja", new { }, FormMethod.Post, new { @class = "form-horizontal text-left" }))
                    {
                        
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-offset-1 control-label" for="Nombre"><strong class="obligatorio">*</strong>Nombre</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control input-sm uppercase" })
                                    @Html.ValidationMessageFor(m => m.Nombre, null, new { @class = "label label-warning" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-offset-1 control-label" for="Nombre"><strong class="obligatorio">*</strong>Email</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-sm uppercase" })
                                    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "label label-warning" })
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            @Html.ValidationMessage("Capcha", null, new { @class = "label label-warning" })
                            <hr />
                        </div>

                        <div id='recaptcha' class="g-recaptcha"
                             data-sitekey="@(System.Configuration.ConfigurationManager.AppSettings["CaptchaSitioKey"])"
                             data-callback="onSubmit"
                             data-size="invisible">
                        </div>
                        <input name="Capcha" type="submit" class="btn btn-primary block full-width m-b" id="btnBuscar"
                               value="Generar" />

                        <div class="col-sm-12">
                            <div class="alert alert-info">
                                Con el pase a caja podrá realizar el pago en Agencias Fiscales, Comercios Autorizados: Oxxo, Abarrey, Super del Norte, Benavides, Telecomm y/o a través de la opción de Pago en Línea.
                                <br /><br />
                                Pagos reflejados de manera inmediata: Oxxo.
                                <br />
                                Pagos reflejados de 24 a 48 hrs: Abarrey, Super del Norte, Benavides, Telecomm.
                                <br /><br />
                                El trámite de solicitud de Constancia de No Inhabilitación deberá realizarlo una vez que ya esté reflejado el pago.
                            </div>
                        </div>
                    }
                    <small>Todos los campos marcados con <strong class="obligatorio">*</strong> son obligatorios.</small>
                    <br />
                    <a href="@Url.Action("Index", "SolicitudWeb")">Regresar al menú</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section FooterScripts
{
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script type="text/javascript">
        var onSubmit = function (token) {
            console.log(token);
            $('form').submit();
        };

        $(function () {

            $('#btnBuscar').click(function (e) {
                e.preventDefault();

                if ($('form').valid() === true) {
                    grecaptcha.execute();
                }
            });

            $(window).resize(function () {
                $('#caja').css("margin-top", altura.alturaVentana);
            });

            $(window).resize();
        });

        var altura = (function () {
            var alturaVentana = $(window).height() / 2;
            var alturaCaja = $("#caja").height() / 2;
            return {
                alturaVentana: alturaVentana - alturaCaja - 120
            };
        })();
    </script>
}