@using Datos.Recursos
@using Presentacion.Helpers
@model Datos.DTO.Infraestructura.ViewModels.PlantillaViewModel

@{
    ViewBag.Title = General.Plantillas;
}

@using (Html.BeginForm())
{
    <div class="ibox bx-s">
        <div class="ibox-content p-l-20 p-r-10 bg-f">
            <div class="row">
                <div class="col-md-12 text-right">
                    @Html.ActionLink(General.Nuevo, "Guardar", new { area = "Catalogo" },
                            new { @class = "btn btn-sm btn-default" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 m-t-10">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped" id="tblBusqueda">
                            <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Nombre plantilla</th>
                                <th>Actual</th>
                                <th class="text-center">@General.Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var plantilla in Model.Plantillas)
                            {
                                <tr>
                                    <td>@plantilla.Descripcion</td>
                                    <td>@plantilla.NombrePlantilla</td>
                                    <td>@(plantilla.Actual ? "Sí" : "No")</td>
                                    <td class="text-center">
                                        @Html.ActionLinkCifrado(General.Modificar, "Guardar", "Plantilla", "Catalogo",
                                            "btn btn-warning btn-circle", "fa fa-pencil",
                                            new Dictionary<string, int> {{"idPlantilla", plantilla.IDPlantilla}})
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section FooterScripts
{
    <script type="text/javascript" src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.tablesorter.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tblBusqueda").tablesorter();
        });
    </script>
}